<a href="https://colab.research.google.com/github/GuilhermeBorba2/Projetos-DataScience/blob/main/Redes_Neurais_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd

In [47]:
df = pd.read_excel('/content/churn_data.xlsx')

In [48]:
df

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer,42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...
7037,2569-WGERO,72,Yes,Two year,Yes,Bank transfer,21.15,1419.4,No
7038,6840-RESVB,24,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,72,Yes,One year,Yes,Credit card,103.20,7362.9,No
7040,4801-JZAZL,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.6,Yes

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7042 entries, 0 to 7041
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7042 non-null   object
 1   tenure            7042 non-null   int64
 2   PhoneService      7042 non-null   object
 3   Contract          7042 non-null   object
 4   PaperlessBilling  7042 non-null   object
 5   PaymentMethod     7042 non-null   object
 6   MonthlyCharges    7042 non-null   float64
 7   TotalCharges      7042 non-null   object
 8   Churn             7042 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 495.3+ KB

In [50]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7042 entries, 0 to 7041
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7042 non-null   object
 1   tenure            7042 non-null   int64
 2   PhoneService      7042 non-null   object
 3   Contract          7042 non-null   object
 4   PaperlessBilling  7042 non-null   object
 5   PaymentMethod     7042 non-null   object
 6   MonthlyCharges    7042 non-null   float64
 7   TotalCharges      7031 non-null   float64
 8   Churn             7042 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 495.3+ KB

In [52]:
df = df.dropna()

In [53]:
df.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [54]:
cat_vars = ['PhoneService', 'Contract', 'PaperlessBilling','PaymentMethod']
num_vars = [ 'tenure','MonthlyCharges', 'TotalCharges']
modeling_vars = cat_vars + num_vars

In [55]:
X = df.filter(modeling_vars).copy()
y = df['Churn'].copy()
y = pd.DataFrame(y)

In [56]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y.Churn)
y.Churn = le.transform(y.Churn)

X = pd.get_dummies(X)
X.head()

,tenure,MonthlyCharges,TotalCharges,PhoneService_No,PhoneService_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,29.85,1,0,1,0,0,0,1,0,0,1,0
1,34,56.95,1889.50,0,1,0,1,0,1,0,0,0,0,1
2,2,53.85,108.15,0,1,1,0,0,0,1,0,0,0,1
3,45,42.30,1840.75,1,0,0,1,0,1,0,1,0,0,0
4,2,70.70,151.65,0,1,1,0,0,0,1,0,0,1,0

In [57]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

print(f"Shape X_train: {X_train.shape}")
print(f"Shape y_train: {y_train.shape}")
print(f"Shape X_test: {X_test.shape}")
print(f"Shape y_test: {y_test.shape}")

Shape X_train: (5624, 14)
Shape y_train: (5624, 1)
Shape X_test: (1407, 14)
Shape y_test: (1407, 1)

In [58]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Transformanda para dataframe para visualização
X_train = pd.DataFrame(X_train_scaled,columns = X_train.columns)
X_test = pd.DataFrame(X_test_scaled,columns = X_test.columns)

In [59]:
# Classificador Multi Layer Perceptron

from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, f1_score

clf = MLPClassifier( hidden_layer_sizes=(100, 50, 20),activation='logistic')
clf.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1098: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='logistic', hidden_layer_sizes=(100, 50, 20))

In [60]:
y_pred = clf.predict(X_test)
print(f"Acurácia: {accuracy_score(y_test, y_pred)*100}%")

Acurácia: 79.45984363894812%

In [61]:
print(f"f1_score: {f1_score(y_test, y_pred)*100}%")

f1_score: 56.27836611195159%